


.Container {

    background-color: #0c0c0c;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: white; */
    padding: 12px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 5rem;
    background-color: #0c0c0c;
    border-radius: 12px;
    padding: 20px;
    border: 1px solid whitesmoke;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    color: whitesmoke;

    font-size: 17px;
    /* font-weight: 500; */
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #facc15; 
}
