.count-container{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: solid rgb(163, 161, 161);
    border-radius: 35px;
    border-width: 2px;
}

#title{
    font-size: 25px;
    padding: 0.5rem;

}

#btn {
    background-color:  #007aff;
    color: white;
    border: 0;
    padding:  0.5rem;
    border-radius: 15px;
    transition: background-color 0.3s ease; 
}

#btn:hover {
    background-color: #355db5f4; 
}


